name: GitHub Actions Demo
on: [push]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          # package: ../../package.json
